networks:
  prod:
  dev:
    external: true

services:
  postgres:
    image: postgres:17
    container_name: postgres_container
    env_file:
      - postgres.env
    networks:
      prod:


  backend:
    image: andreyparkh/my-calendar-backend:latest
    container_name: my-calendar-backend
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    env_file:
      - backend.env
    networks:
      prod:


  frontend:
    image: andreyparkh/my-calendar-frontend:latest
    container_name: my-calendar-frontend
    ports:
      - "8080:8080"
    env_file:
      - frontend.env
    volumes:
      - ./dist-prod/client:/app/dist/client
    networks:
      prod:


  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginxdefault.conf:/etc/nginx/nginx.conf
      - ./dist-prod/client:/usr/share/nginx/html/prod
      - ./dist-pr/client:/usr/share/nginx/html/pr
    depends_on:
      - frontend
      - backend
    networks:
      prod:
      dev:


