services:
  postgres:
    image: postgres:17
    container_name: postgres_container
    env_file:
      - postgres.env
    ports:
      - "5432:5432"

  backend:
    image: andreyparkh/my-calendar-backend:latest
    container_name: my-calendar-backend
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    env_file:
      - backend.env

  frontend:
    image: andreyparkh/my-calendar-frontend:latest
    container_name: my-calendar-frontend
    ports:
      - "8080:8080"
    env_file:
      - frontend.env
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginxdefault.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
