name: Deploy

on:
  repository_dispatch:
    types:
      - deploy-test
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Шаг 1: Подключение к VPS
      - name: Install SSH key
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.VPS_PRIVATE_KEY }}

      - name: Add VPS host to known_hosts
        run: |
            mkdir -p ~/.ssh
            ssh-keyscan -H ${{ secrets.VPS_HOST }} >> ~/.ssh/known_hosts
      
      - name: Copy docker-compose.test.yml to VPS
        run: |
            scp ./docker-compose.test.yml ${{ secrets.VPS_USERNAME }}@${{ secrets.VPS_HOST }}:/home/${{ secrets.VPS_USERNAME }}/test/
            mv docker-compose.test.yml docker-compose.yml

     # Шаг 3: Подключение к VPS и запуск Docker Compose
      - name: Deploy Docker Compose on VPS
        run: |
            ssh -o StrictHostKeyChecking=no ${{ secrets.VPS_USERNAME }}@${{ secrets.VPS_HOST }} <<EOF
            cd /home/${{ secrets.VPS_USERNAME }}/test
            sudo docker compose down || true
            sudo docker rmi andreyparkh/my-calendar-frontend-pr
            sudo docker compose up -d

      # Шаг 4: Отправка статуса
      - name: Send success status
        if: success()
        run: echo "Deployment completed successfully."

      - name: Send failure status
        if: failure()
        run: echo "Deployment failed."