name: Deploy

on:
  repository_dispatch:
    types:
      - deploy
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-22.04

    steps:
      # Шаг 1: Подключение к VPS
      - name: Install SSH key
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.VPS_PRIVATE_KEY }}
      
     # Шаг 3: Подключение к VPS и запуск Docker Compose
      - name: Deploy Docker Compose on VPS
        run: |
            cd add/my-calendar-docker-compose
            git pull
            sudo docker compose down || true
            sudo docker compose up

      # Шаг 4: Отправка статуса
      - name: Send success status
        if: success()
        run: echo "Deployment completed successfully."

      - name: Send failure status
        if: failure()
        run: echo "Deployment failed."