name: Deploy

on:
  repository_dispatch:
    types:
      - deploy-test
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-22.04

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      # Шаг 1: Подключение к VPS
      - name: Install SSH key
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.VPS_PRIVATE_KEY }}

      # Шаг 2: Копируем docker-compose на VPS
      - name: Upload docker-compose.test.yml to VPS
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_PRIVATE_KEY }}
          source: ./docker-compose.test.yml
          target: /home/${{ secrets.VPS_USER }}/test/

     # Шаг 3: Подключение к VPS и запуск Docker Compose
      - name: Deploy Docker Compose on VPS
        run: |
            ssh -o StrictHostKeyChecking=no ${{ secrets.VPS_USERNAME }}@${{ secrets.VPS_HOST }} <<EOF
            cd /home/${{ secrets.VPS_USERNAME }}/test
            sudo docker compose down || true
            sudo docker rmi andreyparkh/my-calendar-frontend-pr
            sudo docker compose up -d

      # Шаг 4: Отправка статуса
      - name: Send success status
        if: success()
        run: echo "Deployment completed successfully."

      - name: Send failure status
        if: failure()
        run: echo "Deployment failed."